* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.row {
  max-width: 1290px;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 80px; }
  .row::after {
    content: '';
    display: table;
    clear: both; }
  .row .col {
    float: left;
    text-align: center; }
    .row .col:not(:last-child) {
      margin-right: 60px; }
  .row .col-1-2 {
    width: calc((100% - 60px) / 2); }
  .row .col-1-3 {
    width: calc((100% - 2 * 60px) / 3); }
  .row .col-2-3 {
    width: calc(2 * ((100% - 2 * 60px) / 3) + 60px); }
  .row .col-1-4 {
    width: calc((100% - 3 * 60px) / 4); }
  .row .col-2-4 {
    width: calc(2 * ((100% - 3 * 60px) / 4) + 60px); }
  .row .col-3-4 {
    width: calc(3 * ((100% - 3 * 60px) / 4) +  2 * 60px); }
  .row .col-1-5 {
    width: calc((100% - 4 * 60px) / 5); }
  .row .col-2-5 {
    width: calc(2 * ((100% - 4 * 60px) / 5) + 60px); }
  .row .col-3-5 {
    width: calc(3 * ((100% - 4 * 60px) / 5) + 2 * 60px); }
  .row .col-4-5 {
    width: calc(4 * ((100% - 4 * 60px) / 5) + 3 * 60px); }
  .row .col-1-6 {
    width: calc((100% - 5 * 60px) / 6); }
  .row .col-2-6 {
    width: calc(2 * ((100% - 5 * 60px) / 6) + 60px); }
  .row .col-3-6 {
    width: calc(3 * ((100% - 5 * 60px) / 6) + 2 * 60px); }
  .row .col-4-6 {
    width: calc(4 * ((100% - 5 * 60px) / 6) + 3 * 60px); }
  .row .col-5-6 {
    width: calc(5 * ((100% - 5 * 60px) / 6) + 4 * 60px); }
  .row .col-1-7 {
    width: calc((100% - 6 * 60px) / 7); }
  .row .col-2-7 {
    width: calc(2 * ((100% - 6 * 60px) / 7) + 60px); }
  .row .col-3-7 {
    width: calc(3 * ((100% - 6 * 60px) / 7) + 2 * 60px); }
  .row .col-4-7 {
    width: calc(4 * ((100% - 6 * 60px) / 7) + 3 * 60px); }
  .row .col-5-7 {
    width: calc(5 * ((100% - 6 * 60px) / 7) + 4 * 60px); }
  .row .col-6-7 {
    width: calc(6 * ((100% - 6 * 60px) / 7) + 5 * 60px); }
  .row .col-1-8 {
    width: calc((100% - 7 * 60px) / 8); }
  .row .col-2-8 {
    width: calc(2 * ((100% - 7 * 60px) / 8) + 60px); }
  .row .col-3-8 {
    width: calc(3 * ((100% - 7 * 60px) / 8) + 2 * 60px); }
  .row .col-4-8 {
    width: calc(4 * ((100% - 7 * 60px) / 8) + 3 * 60px); }
  .row .col-5-8 {
    width: calc(5 * ((100% - 7 * 60px) / 8) + 4 * 60px); }
  .row .col-6-8 {
    width: calc(6 * ((100% - 7 * 60px) / 8) + 5 * 60px); }
  .row .col-7-8 {
    width: calc(7 * ((100% - 7 * 60px) / 8) + 6 * 60px); }
  .row .col-1-9 {
    width: calc((100% - 8 * 60px) / 9); }
  .row .col-2-9 {
    width: calc(2 * ((100% - 8 * 60px) / 9) + 60px); }
  .row .col-3-9 {
    width: calc(3 * ((100% - 8 * 60px) / 9) + 2 * 60px); }
  .row .col-4-9 {
    width: calc(4 * ((100% - 8 * 60px) / 9) + 3 * 60px); }
  .row .col-5-9 {
    width: calc(5 * ((100% - 8 * 60px) / 9) + 4 * 60px); }
  .row .col-6-9 {
    width: calc(6 * ((100% - 8 * 60px) / 9) + 5 * 60px); }
  .row .col-7-9 {
    width: calc(7 * ((100% - 8 * 60px) / 9) + 6 * 60px); }
  .row .col-8-9 {
    width: calc(8 * ((100% - 8 * 60px) / 9) + 7 * 60px); }
  .row .col-1-10 {
    width: calc((100% - 9 * 60px) / 10); }
  .row .col-2-10 {
    width: calc(2 * ((100% - 9 * 60px) / 10) + 60px); }
  .row .col-3-10 {
    width: calc(3 * ((100% - 9 * 60px) / 10) + 2 * 60px); }
  .row .col-4-10 {
    width: calc(4 * ((100% - 9 * 60px) / 10) + 3 * 60px); }
  .row .col-5-10 {
    width: calc(5 * ((100% - 9 * 60px) / 10) + 4 * 60px); }
  .row .col-6-10 {
    width: calc(6 * ((100% - 9 * 60px) / 10) + 5 * 60px); }
  .row .col-7-10 {
    width: calc(7 * ((100% - 9 * 60px) / 10) + 6 * 60px); }
  .row .col-8-10 {
    width: calc(8 * ((100% - 9 * 60px) / 10) + 7 * 60px); }
  .row .col-9-10 {
    width: calc(9 * ((100% - 9 * 60px) / 10) + 8 * 60px); }
  .row .col-1-11 {
    width: calc((100% - 10 * 60px) / 11); }
  .row .col-2-11 {
    width: calc(2 * ((100% - 10 * 60px) / 11) + 60px); }
  .row .col-3-11 {
    width: calc(3 * ((100% - 10 * 60px) / 11) + 2 * 60px); }
  .row .col-4-11 {
    width: calc(4 * ((100% - 10 * 60px) / 11) + 3 * 60px); }
  .row .col-5-11 {
    width: calc(5 * ((100% - 10 * 60px) / 11) + 4 * 60px); }
  .row .col-6-11 {
    width: calc(6 * ((100% - 10 * 60px) / 11) + 5 * 60px); }
  .row .col-7-11 {
    width: calc(7 * ((100% - 10 * 60px) / 11) + 6 * 60px); }
  .row .col-8-11 {
    width: calc(8 * ((100% - 10 * 60px) / 11) + 7 * 60px); }
  .row .col-9-11 {
    width: calc(9 * ((100% - 10 * 60px) / 11) + 8 * 60px); }
  .row .col-10-11 {
    width: calc(10 * ((100% - 10 * 60px) / 11) + 9 * 60px); }
  .row .col-1-12 {
    width: calc((100% - 11 * 60px) / 12); }
  .row .col-2-12 {
    width: calc(2 * ((100% - 11 * 60px) / 12) + 60px); }
  .row .col-3-12 {
    width: calc(3 * ((100% - 11 * 60px) / 12) + 2 * 60px); }
  .row .col-4-12 {
    width: calc(4 * ((100% - 11 * 60px) / 12) + 3 * 60px); }
  .row .col-5-12 {
    width: calc(5 * ((100% - 11 * 60px) / 12) + 4 * 60px); }
  .row .col-6-12 {
    width: calc(6 * ((100% - 11 * 60px) / 12) + 5 * 60px); }
  .row .col-7-12 {
    width: calc(7 * ((100% - 11 * 60px) / 12) + 6 * 60px); }
  .row .col-8-12 {
    width: calc(8 * ((100% - 11 * 60px) / 12) + 7 * 60px); }
  .row .col-9-12 {
    width: calc(9 * ((100% - 11 * 60px) / 12) + 8 * 60px); }
  .row .col-10-12 {
    width: calc(10 * ((100% - 11 * 60px) / 12) + 9 * 60px); }
  .row .col-11-12 {
    width: calc(11 * ((100% - 11 * 60px) / 12) + 10 * 60px); }

body {
  font-family: 'Roboto', sans-serif; }
  body a {
    text-decoration: none; }
  body li {
    list-style-type: none; }

.composition__photo {
  max-width: 100%; }

.btn {
  display: inline-block;
  margin: 30px 0;
  padding: 18px 40px;
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  color: #fff;
  text-transform: capitalize; }
  .btn a {
    display: inline-block;
    color: #fff; }

.composition {
  height: 90px;
  position: relative; }
  .composition .composition__photo--p1 {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0;
    top: 30px; }

.menu {
  height: 90px;
  position: relative; }
  .menu .menu_item {
    width: 230px;
    position: absolute;
    bottom: 18px;
    right: 0;
    text-align: right; }
    .menu .menu_item li {
      display: inline-block; }
      .menu .menu_item li a {
        display: inline-block;
        padding: 8px 12px;
        text-transform: uppercase;
        font-weight: 500;
        color: #000;
        font-size: 15px; }
        .menu .menu_item li a:hover {
          color: #332cac; }
        .menu .menu_item li a:last-child {
          padding: 8px 0 8px 12px; }

.help_items .help_item {
  margin-top: 80px; }
  .help_items .help_item h2 {
    font-size: 38px;
    font-weight: 400;
    text-align: left;
    line-height: 1.5;
    font-style: inherit;
    letter-spacing: 1px; }
  .help_items .help_item .btn_full {
    float: left;
    background-color: #975BE5; }

.help_items .btn_full {
  float: left;
  background-color: #975BE5;
  border-color: #975BE5;
  transition: all .3s; }
  .help_items .btn_full:hover {
    background-color: #a571e8; }

.team {
  margin-top: 80px; }

hr {
  border: 0;
  padding: 0;
  width: 60px;
  height: 4px;
  background-color: #A571E8; }

.btn_2 {
  background-color: #975BE5;
  border-color: #975BE5;
  transition: all .3s; }
  .btn_2:hover {
    background-color: #7b2fde; }
